.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}
.h1{
  color:#007bff;
  margin-bottom: 40px;
  margin-top: 40px;
  font-size: 1.9rem;
  font-weight: 600;
}
.buttonDiv{
    width: 95%;
    display: flex;
    justify-content: flex-end;
    text-align: center;
}
.btn{
    border-radius: 5px;
    padding: 15px;
    color: white;
    border: none;
    background-color: black;
    width: 120px;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    transition: all ease 1s;
}
.btn:hover{
  background-color: #007bff;
  color: white;
}
.icon{
  font-size: 1.5rem;
  cursor: pointer;
}
.flex{
  display: flex;
  justify-content:space-between;
  width: 89vw;
  margin-top: 10px;
  align-items: center;
  margin-bottom: 10px;
}

.notficationParent{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95vw;
  padding: 10px;
  border-radius: 10px;
}